<div class="ibox float-e-margins">
	<div class="ibox-title">
		<h5><%= t('app.analysis_tables.one.fourth_panel.title') %></h5>
		<div class="ibox-tools">
			<a class="collapse-link">
				<i class="fa fa-chevron-up"></i>
			</a>
		</div>
	</div>
	<div class="ibox-content">
		<table class="table table-bordered dataTable no-footer fixed_table" id="weighted_cost" cellspacing="0" data-title_download='Analisis Peso Porcentual'>			
		</table>
	</div>
</div>

<% content_for :javascript do %>
	<script type="text/javascript">
		function replicate_structure_cc(elrep, el) {
			var structure = $(elrep).html().trim();

			$(el).html($(structure).clone());
			$(el + ' tbody tr td label').removeClass('integer_numbers');
		}

		function calc_weighted_cost(elrep, el) {
			if (elrep == null) {
				elrep = '#concepts_by_cost_centers';
			}
			if (el == null) {
				el = '#weighted_cost';
			}

			var totals = [
						parseFloat(clean_number_mask($('#control_panel_1 tbody tr:eq(1) td:eq(1) label').html())),
						parseFloat(clean_number_mask($('#control_panel_1 tbody tr:eq(2) td:eq(1) label').html())),
						parseFloat(clean_number_mask($('#control_panel_1 tbody tr:eq(3) td:eq(1) label').html())),
						parseFloat(clean_number_mask($('#control_panel_1 tbody tr:eq(0) td:eq(1) label').html()))
					], current_val, calc_val;

			$.when(replicate_structure_cc(elrep, el)).done(function() {
				$(el + ' tbody tr').each(function(k,v) {
					$(v).find('td:not(:first) label').each(function(key, val) {
						current_val = parseFloat(clean_number_mask($(val).html()));
						calc_val = ((current_val / totals[k]) * 100).toFixed(2);
						$(val).html(calc_val + '%');
					});
				});
			});
		}
	</script>
<% end %>