<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5><%= t('app.analysis_tables.two.second_panel.title') %></h5>
    <div class="ibox-tools">
      <a class="collapse-link">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>
  </div>
  <div class="ibox-content">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered dataTable no-footer fixed_table" cellspacing="0" id="indirect_costs_table">
          <thead>
            <tr>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
