<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5><%= t('app.analysis_tables.two.third_panel.title') %></h5>
    <div class="ibox-tools">
      <a class="collapse-link">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>
  </div>
  <div class="ibox-content">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered dataTable no-footer fixed_table" cellspacing="0" id="production_centers">
          <thead>
            <tr>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Total</td>
            </tr>
            <tr>
              <td>Prod. # 1</td>
            </tr>
            <tr>
              <td>Cost. Prod. # 1</td>
            </tr>
            <tr>
              <td>Prod. # 2</td>
            </tr>
            <tr>
              <td>Cost. Prod. # 2</td>
            </tr>
            <tr>
              <td>Prod. # 3</td>
            </tr>
            <tr>
              <td>Cost. Prod. # 3</td>
            </tr>
            <tr>
              <td>Prod. # 4</td>
            </tr>
            <tr>
              <td>Cost. Prod. # 4</td>
            </tr>
            <tr>
              <td>Prod. # 5</td>
            </tr>
            <tr>
              <td>Cost. Prod. # 5</td>
            </tr>
            <tr>
              <td># Camas</td>
            </tr>
            <tr>
              <td>Cost. Promedio</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>