<div class="footer">
    <div class="pull-right">
        <strong>Desarrollado por</strong> Incubo Asesorias Integrales S.A.S &copy; 2016
    </div>
    <div>
        <strong>Contenido por</strong> OPS &copy; 2016
    </div>
</div>
